div.home {
  background: #676470;
  color: #fff;
  font-family: Lato;
  font-size: 2em;
  font-weight: 900;
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  transition: all 0.3s ease;
}

div.home:hover {
  background: #0168b3;
}
